.slds-size--1-of-13{width: 7.69230769230769%;}
.slds-size--2-of-13{width: 15.3846153846154%;}
.slds-size--3-of-13{width: 23.0769230769231%;}
.slds-size--4-of-13{width: 30.7692307692308%;}
.slds-size--5-of-13{width: 38.4615384615385%;}
.slds-size--6-of-13{width: 46.1538461538462%;}
.slds-size--7-of-13{width: 53.8461538461538%;}
.slds-size--8-of-13{width: 61.5384615384615%;}
.slds-size--9-of-13{width: 69.2307692307692%;}
.slds-size--10-of-13{width: 76.9230769230769%;}
.slds-size--11-of-13{width: 84.6153846153846%;}
.slds-size--12-of-13{width: 92.3076923076923%;}
.slds-size--13-of-13{width: 100%;}
.slds-size--1-of-14{width: 7.14285714285714%;}
.slds-size--2-of-14{width: 14.2857142857143%;}
.slds-size--3-of-14{width: 21.4285714285714%;}
.slds-size--4-of-14{width: 28.5714285714286%;}
.slds-size--5-of-14{width: 35.7142857142857%;}
.slds-size--6-of-14{width: 42.8571428571429%;}
.slds-size--7-of-14{width: 50%;}
.slds-size--8-of-14{width: 57.1428571428571%;}
.slds-size--9-of-14{width: 64.2857142857143%;}
.slds-size--10-of-14{width: 71.4285714285714%;}
.slds-size--11-of-14{width: 78.5714285714286%;}
.slds-size--12-of-14{width: 85.7142857142857%;}
.slds-size--13-of-14{width: 92.8571428571429%;}
.slds-size--14-of-14{width: 100%;}
.slds-size--1-of-15{width: 6.66666666666667%;}
.slds-size--2-of-15{width: 13.3333333333333%;}
.slds-size--3-of-15{width: 20%;}
.slds-size--4-of-15{width: 26.6666666666667%;}
.slds-size--5-of-15{width: 33.3333333333333%;}
.slds-size--6-of-15{width: 40%;}
.slds-size--7-of-15{width: 46.6666666666667%;}
.slds-size--8-of-15{width: 53.3333333333333%;}
.slds-size--9-of-15{width: 60%;}
.slds-size--10-of-15{width: 66.6666666666667%;}
.slds-size--11-of-15{width: 73.3333333333333%;}
.slds-size--12-of-15{width: 80%;}
.slds-size--13-of-15{width: 86.6666666666667%;}
.slds-size--14-of-15{width: 93.3333333333333%;}
.slds-size--15-of-15{width: 100%;}
.slds-size--1-of-16{width: 6.25%;}
.slds-size--2-of-16{width: 12.5%;}
.slds-size--3-of-16{width: 18.75%;}
.slds-size--4-of-16{width: 25%;}
.slds-size--5-of-16{width: 31.25%;}
.slds-size--6-of-16{width: 37.5%;}
.slds-size--7-of-16{width: 43.75%;}
.slds-size--8-of-16{width: 50%;}
.slds-size--9-of-16{width: 56.25%;}
.slds-size--10-of-16{width: 62.5%;}
.slds-size--11-of-16{width: 68.75%;}
.slds-size--12-of-16{width: 75%;}
.slds-size--13-of-16{width: 81.25%;}
.slds-size--14-of-16{width: 87.5%;}
.slds-size--15-of-16{width: 93.75%;}
.slds-size--16-of-16{width: 100%;}
.slds-size--1-of-17{width: 5.88235294117647%;}
.slds-size--2-of-17{width: 11.7647058823529%;}
.slds-size--3-of-17{width: 17.6470588235294%;}
.slds-size--4-of-17{width: 23.5294117647059%;}
.slds-size--5-of-17{width: 29.4117647058824%;}
.slds-size--6-of-17{width: 35.2941176470588%;}
.slds-size--7-of-17{width: 41.1764705882353%;}
.slds-size--8-of-17{width: 47.0588235294118%;}
.slds-size--9-of-17{width: 52.9411764705882%;}
.slds-size--10-of-17{width: 58.8235294117647%;}
.slds-size--11-of-17{width: 64.7058823529412%;}
.slds-size--12-of-17{width: 70.5882352941177%;}
.slds-size--13-of-17{width: 76.4705882352941%;}
.slds-size--14-of-17{width: 82.3529411764706%;}
.slds-size--15-of-17{width: 88.2352941176471%;}
.slds-size--16-of-17{width: 94.1176470588235%;}
.slds-size--17-of-17{width: 100%;}
.slds-size--1-of-18{width: 5.55555555555556%;}
.slds-size--2-of-18{width: 11.1111111111111%;}
.slds-size--3-of-18{width: 16.6666666666667%;}
.slds-size--4-of-18{width: 22.2222222222222%;}
.slds-size--5-of-18{width: 27.7777777777778%;}
.slds-size--6-of-18{width: 33.3333333333333%;}
.slds-size--7-of-18{width: 38.8888888888889%;}
.slds-size--8-of-18{width: 44.4444444444444%;}
.slds-size--9-of-18{width: 50%;}
.slds-size--10-of-18{width: 55.5555555555556%;}
.slds-size--11-of-18{width: 61.1111111111111%;}
.slds-size--12-of-18{width: 66.6666666666667%;}
.slds-size--13-of-18{width: 72.2222222222222%;}
.slds-size--14-of-18{width: 77.7777777777778%;}
.slds-size--15-of-18{width: 83.3333333333333%;}
.slds-size--16-of-18{width: 88.8888888888889%;}
.slds-size--17-of-18{width: 94.4444444444444%;}
.slds-size--18-of-18{width: 100%;}
.slds-size--1-of-19{width: 5.26315789473684%;}
.slds-size--2-of-19{width: 10.5263157894737%;}
.slds-size--3-of-19{width: 15.7894736842105%;}
.slds-size--4-of-19{width: 21.0526315789474%;}
.slds-size--5-of-19{width: 26.3157894736842%;}
.slds-size--6-of-19{width: 31.5789473684211%;}
.slds-size--7-of-19{width: 36.8421052631579%;}
.slds-size--8-of-19{width: 42.1052631578947%;}
.slds-size--9-of-19{width: 47.3684210526316%;}
.slds-size--10-of-19{width: 52.6315789473684%;}
.slds-size--11-of-19{width: 57.8947368421053%;}
.slds-size--12-of-19{width: 63.1578947368421%;}
.slds-size--13-of-19{width: 68.421052631579%;}
.slds-size--14-of-19{width: 73.6842105263158%;}
.slds-size--15-of-19{width: 78.9473684210526%;}
.slds-size--16-of-19{width: 84.2105263157895%;}
.slds-size--17-of-19{width: 89.4736842105263%;}
.slds-size--18-of-19{width: 94.7368421052632%;}
.slds-size--19-of-19{width: 100%;}
.slds-size--1-of-20{width: 5%;}
.slds-size--2-of-20{width: 10%;}
.slds-size--3-of-20{width: 15%;}
.slds-size--4-of-20{width: 20%;}
.slds-size--5-of-20{width: 25%;}
.slds-size--6-of-20{width: 30%;}
.slds-size--7-of-20{width: 35%;}
.slds-size--8-of-20{width: 40%;}
.slds-size--9-of-20{width: 45%;}
.slds-size--10-of-20{width: 50%;}
.slds-size--11-of-20{width: 55%;}
.slds-size--12-of-20{width: 60%;}
.slds-size--13-of-20{width: 65%;}
.slds-size--14-of-20{width: 70%;}
.slds-size--15-of-20{width: 75%;}
.slds-size--16-of-20{width: 80%;}
.slds-size--17-of-20{width: 85%;}
.slds-size--18-of-20{width: 90%;}
.slds-size--19-of-20{width: 95%;}
.slds-size--20-of-20{width: 100%;}